// used in: header
.displayFlexDirCon(@flex-dir, @align-content) {
    display: flex;
    flex-direction: @flex-dir;
    align-content: @align-content;
}

/* .displayFlexItem(@align-item) {
    align-items: @align-item;
} */


// used on home-page
.btn(@btn-font-size,@btn-padding, @btn-bord-rad) {
    background-color: @button-bg;
    color: white;
    text-align: center;
    font-weight: 600;
    
    // Parameters
    font-size:@btn-font-size;
    border-radius: @btn-bord-rad;
    padding: @btn-padding;
}