header {
    border-bottom:2px dashed @navigation-border;

    .navigation {
        
        .displayFlexDirCon(row, center);
        justify-content: space-between;
        align-items:center;
        
        @media @mobile {
            .displayFlexDirCon(column, center);
        }
        
        h1 {
            padding: 2rem 0;
            .animate-header(spin, 5s, infinite);
        }

        nav {
            .displayFlexDirCon(row, center);
            
            @media @mobile {
                padding-bottom: 2rem;
            }
        }
        
        nav a {
            color: @shark;
            text-decoration: none;
            font-size: 1.8rem;
            padding:0 2rem;

            &:hover {
                color:@eastern-blue;
            }
        }
    }

}