// Navigation Styles here

.displayFlexDir(@flex-dir) {
    display: flex;
    flex-direction: @flex-dir;
}

header {
    border-bottom:2px dashed @silver;

    .navigation {
        padding: 2rem 0;

        .displayFlexDir(row);
        justify-content: space-between;

        nav {
            .displayFlexDir(row);
            align-items: center;
        }

        nav a {
            color: @shark;
            text-decoration: none;
            font-size: 1.6rem;
            padding:0 2rem;

            &:hover {
                color:@eastern-blue;
            }
        }
    }

}